<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Graph expessiveness{% endblock %}
        </title>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://d3js.org/d3.v7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <script src="{% static 'script.js' %}?{% now 'U' %}"></script>
    </head>
    <body>
        <div id="header">
            <h1>
                {% block header %}{% endblock %}
            </h1>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
